
*{
    margin: 0;
    padding: 0;
    

}
    
.navbar_navegacion {
    position: fixed;
    display:flex;
    justify-content: space-between;
    width: 100%;
    border-bottom:solid 2px white;
    align-items:center;
    color: white;
    background-color:#0004;
    padding: 25px;
}
.navbar_logo { 
width: 170px;
}
.navbar_links {
    display: flex;
    gap: 106px;
}
.menu .idioma{
    display: flex;
    gap: 16px;
}

.icono_menu img {
width: 20px;
}
.section_principal {
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   object-fit: cover;
   object-position: top -300px right 0;
   margin: 0;
   
}
.section_principal {
    margin: none;
    overflow-y: hidden;

    width: 100%;
    height: 100%;
    position: relative;

}
.section_principal .imagen_principal img{
    width: 100%;

    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.section_principal {
    
    text-align:left;
    width:1080px;
    height: 1920px;;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    
}

.section_principal .texto_section_principal {
    width: 746px;
    height: fit-content;
    padding: 30px;
    border: 30px;
    margin-top: 600px;
    background-color: transparent;
    margin-left: 106px;
}


.section_principal .texto_section_principal p {
    color: #B4B7B7;
    font-family: Georgia ;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    width: 490px;
    height: 47px;
    

}
.section_principal .texto_section_principal h1{
    color: white;
    font-family: Georgia ;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 15px;
    width: 746px;
    height: 99px;
    flex-direction: column;
    justify-content: center;

}
.section_principal .texto_vistapropiedades {
    width: 227px;
    height: fit-content;
    font-family: 'Calibri';
    font-size: 30px;
    font-style: normal;
    font-weight: 390;
    line-height: 45px;
    margin-bottom: 15px;
}
.boton_busqueda {
    position: relative;
    top: 0;

}
html { 
    font-family: 'Playfair Display';  
   }
span { 
       color:#DF991B;
       font-size:  20px; 
   }
h2 { 
       font-size:40px;
       font-weight: bolder;
   }
.boton_detallado {
       font-weight: 600;
       border: solid 1px black;
       background-color: transparent;
       padding: 13px 50px ;
       border-radius: 20px;
    }

.botones_simples {
       background-color: transparent;
       border: none;
       display:flex ;
       align-items: center;
       gap: 8px;
     }

.botones_simples img { 
       height: 30px;
    }

.botones { 
     display: flex;  
     gap:30px ;
     margin-top: 50px;
   }
  .botones { 
   display: flex;
   justify-content: space-between;
  }

  .contenedor1 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   place-items: center; 
  }
  .textos_contenedor1 { 
   padding: 10px 50px 10px 35px;
  }

  .imagenes_contenedor1 { 
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   overflow-x: hidden;
   gap: 10px;
  }
  .imagenes1 {
   grid-column: span 5;
   overflow: hidden;
   position: relative;
  }
  .imagenes1:hover { 
   cursor: pointer;
  }
  .imagenes1:hover p { 
   background-color: white;
   color: black;
  }

  .imagenes1 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
  .no_activada {
   grid-column: span 2;
  }
  .imagenes1 p { 
   position: absolute;
   color: white;
   z-index: 1;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 10px ;
   margin: 0;
   transition: 0.7s ease;
  }

  .contenedor2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   place-items: center; 

  }
  .textos_contenedor2 { 
   padding: 50px 50px 10px 35px;
  }
  .imagenes_contenedor2 { 
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   overflow-x: hidden;
   gap: 10px;
  }

  .imagenes2 {
   grid-column: span 5;
   overflow: hidden;
   position: relative;
  }

  .imagenes2:hover { 
   cursor: pointer;
  }
  .imagenes2:hover p { 
   background-color: white;
   color: black;
  }

  .imagenes2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }

  .desactivada {
   grid-column: span 2;
  }
  .imagenes2 p { 
   position: absolute;
   color: white;
   z-index: 1;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 10px ;
   margin: 0;
   transition: 0.7s ease;
  }

   .contenedor3 {
    display: grid;
    grid-template-rows: 1fr ;
    gap: 25px;
    place-items: center;
   }
  .textos_contenedor3 {
    padding: 200px 50px 100px 200px;
   }

   .imagenes_contenedor3 {
    display: grid;
    grid-template-columns: fr;
    grid-gap: 25px;
    place-items: center;
   }

   .imagenes_partesuperior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
   }
   
   .imagenes3:hover {
    cursor: pointer;
   }
   
   .imagenes3:hover p h3 {
    background-color: white;
    color: black;
   }
    
   .imagenes3 img{
    width: auto;
    height: auto;
    object-fit: cover;
   }
   .contenedor4 {
    display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   place-items: center; 
  }
  .texto_contenedor4 { 
   padding: 10px 40px 10px 35px;
   border: 300px;
  }
  .logo_ul img{
   top: 0;
   object-position: top;
   object-fit: cover;
  }
  
#piePagina{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}
#footerSeccion1{
    background: #26282B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    padding: 2% 5%;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 999;
    grid-template-rows: auto 1fr;
}
#titulofooter1{
    font-size: 30px;
    line-height: 32px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #DF991B;
    padding-top: 15px;
}

#titulofooter2{
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/2;
    font-style: normal;
    font-weight: 100;
    font-size: 45px;
    color: #FFFFFF;
    align-self: start;
}
#miniForm{
    grid-row: 1/3;
    grid-column: 2/3;
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
}
#nombreForm{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#nombreForm label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#nombreForm input{
    border-radius: 100px;
    border: 1px solid #DF991B;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent !important;
    height: 55px !important;
}
#emailform{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 15px;
}
#emailform label{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
#emailform input{
    border-radius: 100px;
    border: 1px solid #DF991B;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
    background-color: transparent !important;
    height: 55px !important;
}
#botonregistro{
    display: flex;
    justify-content: end;
}
#botonregistro input{
    background-color: unset;
    color: #DF991B;
    padding: 5px 30px;
    border-radius: 100px !important;
    letter-spacing: 3px;
    border: 1px solid #DF991B;
    font-size: 17px;
    font-family: 'brandon-grotesque';
    font-weight: 390;
    margin-top: 0.6vw;
    height: 55px !important;
}
#footerSeccion2{
    padding: 15% 0 0 0;
    grid-row: 2/5;
    grid-column: 1/3;
    background: #000000;
}
#infofooter{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.infofooter1 a img{
    margin-left: 15%
}
.infofooter1 span a{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15%
}
.infofooter2 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    
}

.infofooter3 span a{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 16%;
    justify-content:end;
}
.infofooter4 span a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

#copyright{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: #FFF;
    margin: 1% 5%;
    border-top: 1px solid white;
    padding-top: 1%;
    background: #000000;
}


@media screen  and (max-witdh:600px) {
    .navbar_logo {
        display: none;
    }
    .menu {
        display: none;
    }
    .texto_section_principal{
        display: none;

    }
    .section_principal img {
        object-position: center;
    }
}


   